@using PizzaDelivery.Models
@model Slider
@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Slider</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">

                        <label asp-for="PhotoSlider"></label>
                        <input asp-for="PhotoSlider" class="form-control" accept="image/*">
                        <span asp-validation-for="PhotoSlider" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

